/* GLOBAL ALL PAGE */
body {
  position: relative;
  z-index: 1;
  font-family: Inter, sans-serif;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 26px;
  font-weight: 400;
  background-color: white;

  color: rgb(117 118 147);
}

@media (max-width: 767px) {
  .padding-custom {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

@media (min-width: 768px) {
  .padding-custom {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ANIMATE */
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  --animate-duration: 2s;
}

@-webkit-keyframes fadeInDownCustom {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDownCustom {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInDownCustom {
  -webkit-animation-name: fadeInDownCustom;
  animation-name: fadeInDownCustom;
  --animate-duration: 2s;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
}

/* HEADER */
.dropdown::before {
  position: absolute;
  top: -0.375rem;
  left: 2.5rem;
  height: 0.75rem;
  width: 0.75rem;
  transform: rotate(45deg);
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  content: "";
  background-color: white;
}

@media (min-width: 640px) {
  header .header__dropdown .header__dropdown__item {
    transform: translateY(10%);
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
  }

  header .header__dropdown:hover .header__dropdown__item {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
}

.overlay {
  content: "";
  width: 0%;
  height: 100%;

  top: 0;
  left: -50%;

  transform: skewX(-25deg);
  background-color: white;
  transition: all 1s;
}

.moon__icon:hover .overlay {
  width: 300%;
}

.moon__icon .moon-img {
  opacity: 1;
  transition: all 1s;
}

.moon__icon:hover .moon-img {
  opacity: 0;
}

.day__icon {
  transform: translateX(0);
  transition: all 1s;
}

.moon__icon:hover .day__icon {
  transform: translateX(1.5rem);
}

/* BANNER */

/* BACK TO TOP */
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}


button[aria-expanded="true"] .fa-plus::before {
  content: "\f068";
}

.hover\:text-primary:hover {
    --tw-text-opacity: 1;
    color: rgb(0 107 255 / var(--tw-text-opacity));
}

.bg-meta {
    --tw-bg-opacity: 1;
    background-color: rgb(32 197 168 / var(--tw-bg-opacity));
}

.before\:bg-titlebg:before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(173 255 248 / var(--tw-bg-opacity));
}

.before\:bg-titlebg2:before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(255 234 194 / var(--tw-bg-opacity));
}

.before\:bg-primary:before {
    content: var(--tw-content);
    --tw-bg-opacity: 1;
    background-color: rgb(0 107 255 / var(--tw-bg-opacity));
    transform: translateX(7px);
}

.bg-zumthor {
  background-color: rgb(203, 219, 246, 0.5);
}

