/* GLOBAL ALL PAGE */
body {
  position: relative;
  z-index: 1;
  font-family: Inter, sans-serif;
  font-size: 16px;
  letter-spacing: 0.1px;
  line-height: 26px;
  font-weight: 400;
  background-color: white;

  --tw-text-opacity: 1;
  color: rgb(117 118 147 / var(--tw-text-opacity));
}

@media (max-width: 767px) {
  .padding-custom {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

@media (min-width: 768px) {
  .padding-custom {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ANIMATE */
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  --animate-duration: 2s;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.animate__fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 0.5s;
}

/* HEADER */
.dropdown::before {
  position: absolute;
  top: -0.375rem;
  left: 2.5rem;
  height: 0.75rem;
  width: 0.75rem;
  --tw-rotate: 45deg;
  border-left-width: 1px;
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(238 238 238 / var(--tw-border-opacity));
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

/* BANNER */

/* BACK TO TOP */
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
